* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Poppins';
}

.navbar {
    height: 70px;
    padding: 20px 30px;
    display: flex;
    box-shadow: 0px 2.9px 7.5px rgba(0,0,0,0.1);
}

.hero {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.hero-title {
    margin-bottom: 16px;
}

.hero-para {
    margin-top: 0;
}

.card {
    width: 175px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
}

.card-img {
    width: 100%;
    width: 176px;
    height: 235px;
    border-radius: 9px;
}

.card-caption {
    display: flex;
    align-items: center;
}

.caption-star {
    height: 14px;
}

.caption-grey {
    color: #918e98;
}
